# UC San Diego: Data Science in Practice - Data Checkpoint
### Summer Session I 2023 | Instructor : C. Alex Simpkins Ph.D.

## Draft project title if you have one (can be changed later)

# Names

- Rawan Ghazouli
- Nargis Ahmadi
- Jana Bridi

<a id='research_question'></a>
# Research Question

* Are hate crimes motivated by racial prejudice significantly more prevalent than hate crimes motivated by other factors in the distribution of hate crimes in San Diego in the past 7 years?

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name: Hate Crimes Dataset
- Link to the dataset: https://data.sandiego.gov/datasets/police-hate-crimes/
- Number of observations:9842

The hate_crime dataset includes the data of hate_crime incidents from the year 2016 to 2022, obtained directly from the San Diego Police Department. The number of incidents is 266 with the exact year and time of the crime, number of suspects and victims involved, their sexual orientation, type of crime, and most importantly the reported motive for the suspect. Since the exact location and date of the crime, as well as the case number of the crime were not necessary for the analyses, the identification columns were dropped. So the total number of columns was reduced from 37 to 9.

# Data Wrangling

* Explain steps taken to pull the data you need into Python.

In [69]:
## YOUR CODE HERE
import pandas as pd
import numpy as np

# Upload the dataset into Github public repository 

# The datset is in CSV file
# Use the following code to read the file 
data_path = 'https://raw.githubusercontent.com/wanzouli/team18_selfcreated/main/hate_crimes_datasd.csv'
df = pd.read_csv(data_path)

df.head()      # Display the first few rows of the dataset
# df.info()      # Summary information about the dataset
# df.describe()  # Descriptive statistics of numerical columns

,case_number,date,year,month,time,date_time,crime_code,crime,block,street,...,suspect_sex_1,suspect_sex_2,victim_race_0,victim_race_1,victim_race_2,victim_race_3,victim_sex_0,victim_sex_1,victim_sex_2,victim_sex_3
0,16000456,2016-01-04,2016,1,2:00:00 AM,2016-01-04,243(D)M,"Assault, No Weapon",500.0,G,...,M,M,O,NaN,NaN,NaN,M,NaN,NaN,NaN
1,16001278,2016-01-10,2016,1,1:30:00 AM,2016-01-10,245A1,"Assault, w/Weapon",3400.0,30th,...,M,M,B,NaN,NaN,NaN,M,NaN,NaN,NaN
2,16004522,2016-01-31,2016,1,02:30:00,2016-01-31,594(B)(4),Vandalism,1400.0,Imperial,...,NaN,NaN,H,W,NaN,NaN,F,M,NaN,NaN
3,16005962,2016-02-09,2016,2,4:30:00 PM,2016-02-09,422.22(a)(4),"Threat, Phone Call",4100.0,Ute,...,NaN,NaN,B,NaN,NaN,NaN,M,NaN,NaN,NaN
4,16005900,2016-02-10,2016,2,00:45:00,2016-02-10,417A1:M,Threat,100.0,University,...,NaN,NaN,B,A,NaN,NaN,M,F,NaN,NaN

In [70]:
df.shape

(266, 34)

# Data Cleaning

Describe your data cleaning steps here.

In [65]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# to select the columns that we need to answer our research question 

df = df.loc[:, ['year', 'crime', 'motivation', 'weapon', 'injury', 'suspect_race_0', 'victim_race_0', 'suspect_sex_0', 'victim_sex_0']]
df.head()

,year,crime,motivation,weapon,injury,suspect_race_0,victim_race_0,suspect_sex_0,victim_sex_0
0,2016,"Assault, No Weapon",Race,"Hands, Fists, Feet",Hospital,O,O,M,M
1,2016,"Assault, w/Weapon",Race,Stick,No Treat.,Unk,B,M,M
2,2016,Vandalism,Race,Marker,None,Unk,H,Unk,F
3,2016,"Threat, Phone Call",Race,Phone,None,H,B,M,M
4,2016,Threat,Race,Knife,None,W,B,M,M