# UC San Diego: Data Science in Practice - Data Checkpoint
### Summer Session I 2023 | Instructor : C. Alex Simpkins Ph.D.

## Draft project title if you have one (can be changed later)

# Names

- Rawan Ghazouli
- Nargis Ahmadi
- Jana Bridi

<a id='research_question'></a>
# Research Question

* Are hate crimes motivated by racial prejudice significantly more prevalent than hate crimes motivated by other factors in the distribution of hate crimes in San Diego in the past 7 years?

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Data Wrangling

* Explain steps taken to pull the data you need into Python.

In [39]:
## YOUR CODE HERE
import pandas as pd
import numpy as np

# Load the Dataset
# Assuming your dataset is in a CSV file
data_path = 'https://raw.githubusercontent.com/wanzouli/team18_selfcreated/main/hate_crimes_datasd.csv'
df = pd.read_csv(data_path)

# df.head()      # Display the first few rows of the dataset
# df.info()      # Summary information about the dataset
# df.describe()  # Descriptive statistics of numerical columns

 
# df.drop('date', axis=1, inplace=True)
# df.drop('time', axis=1, inplace=True)
df.head() 
#df.describe()

,case_number,year,month,block,beat,victim_count
count,2.660000e+02,266.000000,266.000000,258.000000,266.000000,265.000000
mean,1.885842e+07,2018.823308,6.003759,4318.627907,488.439850,1.200000
std,2.091110e+06,2.078366,3.304083,3187.443564,248.035432,0.523682
min,1.600046e+07,2016.000000,1.000000,0.000000,111.000000,0.000000
25%,1.701528e+07,2017.000000,3.000000,1625.000000,246.000000,1.000000
50%,1.900478e+07,2019.000000,6.000000,4000.000000,521.000000,1.000000
75%,2.101681e+07,2021.000000,9.000000,5775.000000,627.000000,1.000000
max,2.260380e+07,2022.000000,12.000000,13300.000000,935.000000,4.000000

# Data Cleaning

Describe your data cleaning steps here.

In [2]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION